%div.mb-6
  %h3.text-base.font-semibold.leading-6.text-neutral-900 Last 60 days
  %dl.mt-5.grid.grid-cols-1.gap-5.sm:grid-cols-3
    .overflow-hidden.card.px-4.py-5.sm:p-6
      %dt.truncate.text-sm.font-medium.text-neutral-500 Total Users
      %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-neutral-900 77,123
    .overflow-hidden.card.px-4.py-5.sm:p-6
      %dt.truncate.text-sm.font-medium.text-neutral-500 Open Rate
      %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-neutral-900 48.16%
    .overflow-hidden.card.px-4.py-5.sm:p-6
      %dt.truncate.text-sm.font-medium.text-neutral-500 Click Rate
      %dd.mt-1.text-3xl.font-semibold.tracking-tight.text-neutral-900 14.77%