HOST=localhost:3000

# you can set these in the credentials file.
# set here to overwrite the credentials file and to setup new area for each local 
# development environment - different space for each developer.
# FOREST_ADMIN_ENV_SECRET=FOREST_ADMIN_ENV_SECRET
# FOREST_ADMIN_AUTH_SECRET=FOREST_ADMIN_AUTH_SECRET