- if object.errors.any?
  #error_explanation{"data-turbo-cache": "false"}
    %h2= "#{pluralize(object.errors.count, "error")} prohibited this from being saved:"
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg