<div class="card shadow-lg mb-8">
  <div class="card-header">
    <h4 class="card-title">card header</h4>
  </div>
  <div class="card-body">
    card body
  </div>
  <div class="card-footer">
    footer
  </div>
</div>
<div class="relative z-10 card shadow-lg card-body xl:mt-18">
  <div class="absolute inset-x-0 inset-y-5 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700"></div>
  <div class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700"></div>
  <div class="bg-slate-50 overflow-hidden py-6 sm:py-9 lg:py-6 xl:py-9 px-6 dark:bg-slate-900/50">
    <div class="sm:flex lg:block xl:flex">
      <div class="relative flex-auto flex min-w-0">
        <div class="w-full flex-none">
          <h3 class="sr-only">Typography</h3>
          <ul class="space-y-8">
            <li>
              <dl class="grid">
                <div class="font-mono text-xs leading-5 pb-1 border-b border-slate-200 text-slate-500 dark:border-slate-200/10">
                  <dt class="sr-only">CSS class</dt>
                  <dd>font-display</dd>
                </div>
                <div class="col-start-2 text-right font-mono text-xs leading-5 text-slate-400 pb-1 border-b border-slate-200 dark:text-slate-500 dark:border-slate-200/10">
                  <dt class="sr-only">Font name</dt>
                  <dd style="opacity: 1;">Inter</dd>
                </div>
                <div class="mt-4 col-span-2 text-4xl sm:text-5xl lg:text-4xl xl:text-5xl text-slate-900 dark:text-slate-200">
                  <dt class="sr-only">Sample</dt>
                  <dd style="opacity: 1;">AaBbCc</dd>
                </div>
              </dl>
            </li>
            <li>
              <dl class="grid">
                <div class="font-mono text-xs leading-5 pb-1 border-b border-slate-200 text-slate-500 dark:border-slate-200/10">
                  <dt class="sr-only">CSS class</dt>
                  <dd>font-body</dd>
                </div>
                <div class="col-start-2 text-right font-mono text-xs leading-5 text-slate-400 pb-1 border-b border-slate-200 dark:text-slate-500 dark:border-slate-200/10">
                  <dt class="sr-only">Font size</dt>
                  <dd style="opacity:1">14pt</dd>
                </div>
                <div class="mt-4 col-span-2 text-sm leading-6 text-slate-700 dark:text-slate-400">
                  <dt class="sr-only">Sample</dt>
                  <dd style="opacity: 1;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue gravida cras quis ac duis pretium ullamcorper consequat. Integer pellentesque eu.</dd>
                </div>
              </dl>
            </li>
          </ul>
        </div>
        <div aria-hidden="true" class="w-full flex-none -ml-full pointer-events-none pt-[10.125rem] flex text-sm leading-6 invisible">
          <div class="w-full flex-none">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue gravida cras quis ac duis pretium ullamcorper consequat. Integer pellentesque eu.</div>
          <div class="w-full flex-none -ml-full Pally-Variable_font__wfJY1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue gravida cras quis ac duis pretium ullamcorper consequat. Integer pellentesque eu.</div>
          <div class="w-full flex-none -ml-full Synonym-Variable_font__ebQ4S">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue gravida cras quis ac duis pretium ullamcorper consequat. Integer pellentesque eu.</div>
          <div class="w-full flex-none -ml-full IBMPlexMono-Regular_font__qbRKk">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut augue gravida cras quis ac duis pretium ullamcorper consequat.</div>
        </div>
      </div>
      <div class="flex-none mt-6 sm:mt-0 lg:mt-6 xl:mt-0 sm:ml-10 lg:ml-0 xl:ml-10">
        <h3 class="sr-only">Colors</h3>
        <ul class="space-y-6">
          <li>
            <dl class="grid bg-white text-slate-500 rounded-lg shadow-md p-3 dark:bg-slate-900 dark:ring-1 dark:ring-white/10">
              <div class="font-mono text-xs">
                <dt class="sr-only">CSS class prefix</dt>
                <dd>bg-<!-- -->primary</dd>
              </div>
              <div class="col-start-2 font-mono text-xs text-right">
                <dt class="sr-only">Range</dt>
                <dd>50-900</dd>
              </div>
              <div class="mt-4 col-span-2">
                <dt class="sr-only">Sample</dt>
                <dd>
                  <ul class="grid grid-cols-5 gap-2">
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(239, 246, 255);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(219, 234, 254);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(191, 219, 254);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(147, 197, 253);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(96, 165, 250);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(59, 130, 246);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(37, 99, 235);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(29, 78, 216);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(30, 64, 175);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(30, 58, 138);"></li>
                  </ul>
                </dd>
              </div>
            </dl>
          </li>
          <li class="hidden sm:block lg:hidden xl:block">
            <dl class="grid bg-white text-slate-500 rounded-lg shadow-md p-3 dark:bg-slate-900 dark:ring-1 dark:ring-white/10">
              <div class="font-mono text-xs">
                <dt class="sr-only">CSS class prefix</dt>
                <dd>bg-<!-- -->secondary</dd>
              </div>
              <div class="col-start-2 font-mono text-xs text-right">
                <dt class="sr-only">Range</dt>
                <dd>50-900</dd>
              </div>
              <div class="mt-4 col-span-2">
                <dt class="sr-only">Sample</dt>
                <dd>
                  <ul class="grid grid-cols-5 gap-2">
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(248, 250, 252);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(241, 245, 249);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(226, 232, 240);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(203, 213, 225);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(148, 163, 184);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(100, 116, 139);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(71, 85, 105);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(51, 65, 85);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(30, 41, 59);"></li>
                    <li class="pt-full h-8 sm:w-8 lg:w-auto xl:w-8 rounded-sm ring-1 ring-inset ring-slate-900/5 dark:ring-0 dark:highlight-white/10" style="background-color: rgb(15, 23, 42);"></li>
                  </ul>
                </dd>
              </div>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
