<main class="flex py-80 flex-col items-center justify-center">

  <h1 class="pb-5 text-center text-4xl font-semibold md:text-7xl text-black dark:text-white tracking-tight">
    Rails Starter
  </h1>

  <p class="w-full max-w-xl text-center mb-10">
    Solid foundation for new Rails projects, with all the essential features and best practices built-in. 
    Opinionated to the tools we use.
  </p>

  <div class="flex space-x-4">
    <%= link_to 'GitHub', '#', class: 'btn-white' %>
    <%= link_to 'Explore', '#', class: 'btn-primary' %>
  </div>
</main>
