.text-center
  %h1.h1.mt-6 Check your inbox

.mt-8.card.card-body
  We've sent an activation link to your email inbox. Click the confirmation link in our email and make sure we're not marked as spam.

  .mt-6.text-center
    = link_to "Check your inbox", open_email_inbox_url(@email), class: "btn-white"