@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  body {
    @apply antialiased text-neutral-500 dark:text-neutral-400 bg-body dark:bg-body-dark;
  }

  body.devise {
    @apply h-full;
  }

  /* Colors */

  .text-success {
    @apply text-emerald-500;
  }

  .text-danger {
    @apply text-red-500;
  }

  .text-muted {
    @apply text-neutral-500 dark:text-neutral-400;
  }

  .text-heading {
    @apply text-neutral-900 dark:text-white;
  }

  /* Typography */

  .h1 {
    @apply text-2xl md:text-3xl font-bold tracking-tight text-heading;
  }

  .h2 {
    @apply text-2xl font-bold tracking-tight text-heading;
  }

  .h3 {
    @apply text-xl font-bold tracking-tight text-heading;
  }

  .h4 {
    @apply text-base font-bold tracking-tight text-heading;
  }

  .h5 {
    @apply text-sm font-bold tracking-tight text-heading;
  }

  .h6 {
    @apply text-xs font-bold tracking-tight text-heading;
  }

  .text-huge {
    @apply h1 text-3xl sm:text-5xl;
  }

  .p {
    @apply text-base text-neutral-700 dark:text-neutral-300 leading-6;
  }

  hr {
    @apply h-px my-8 bg-neutral-300/50 border-0 dark:bg-neutral-750;
  }

}

@layer components {

  /* Links & Buttons */

  .btn {
    @apply rounded-md py-2 px-4 text-sm font-semibold focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 transition-all duration-300;
  }

  .btn-primary {
    @apply btn bg-primary text-white hover:bg-primary-500 hover:text-slate-100 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600;
  }

  .btn-secondary {
    @apply btn text-neutral-900 dark:text-white 
    shadow-sm 
    ring-1 ring-inset ring-neutral-300 dark:ring-neutral-750
    bg-card dark:bg-[#27262b]
    hover:bg-neutral-100 dark:hover:bg-neutral-900;
  }

  a {
    @apply transition-colors duration-300;
  }

  .link-hover {
    @apply hover:underline hover:text-primary-500 hover:underline-offset-2;
  }

  a.link {
    @apply text-primary link-hover;
  }

  .porse-section {
    @apply prose prose-slate dark:prose-invert max-w-none prose-a:font-semibold prose-a:text-primary prose-a:no-underline hover:prose-a:text-primary-500 hover:prose-a:underline hover:prose-a:underline-offset-2;
  }

  
  /* Alerts */

  .alert {
    @apply my-6 p-4 flex gap-2.5 rounded-md 
    border
    text-sm font-medium;
  }

  .alert-icon {
    @apply h-5 w-5 flex-none;
  }

  .alert-success {
    @apply alert
    border-emerald-500/20 dark:border-emerald-500/30 
    bg-emerald-50/50 dark:bg-emerald-500/5
    text-emerald-900 dark:text-emerald-200;
  }

  .alert-success .icon {
    @apply alert-icon fill-emerald-500 dark:fill-emerald-200;
  }

  .alert-warning {
    @apply alert
    border-amber-500/20 dark:border-amber-500/30
    bg-amber-400/10 dark:bg-amber-400/10
    text-amber-900 dark:text-amber-200;
  }

  .alert-warning .icon {
    @apply alert-icon fill-amber-500 dark:fill-amber-200;
  }

  .alert-danger {
    @apply alert
    border-rose-500/20 dark:border-rose-500/30
    bg-rose-50 dark:bg-rose-400/10
    text-red-900 dark:text-rose-400;
  }

  .alert-danger .icon {
    @apply alert-icon fill-rose-500 dark:fill-rose-400;
  }


  /* Cards */

  .card-border {
    /* duplicated as ring on the .card. It does not use this border. */
    @apply border-neutral-300/50 dark:border-neutral-750;
  }

  .card {
    @apply bg-card dark:bg-card-dark ring-1 ring-neutral-300/50 dark:ring-neutral-750 rounded-lg shadow-sm my-auto overflow-hidden;
  }

  .card-body {
    @apply p-6;
  }

  .card-header {
    @apply px-6 py-3 border-b card-border;
  }

  .card-title {
    @apply font-semibold text-slate-900 dark:text-slate-100;
  }

  .card-footer {
    @apply px-6 py-3 border-t card-border;
  }

  /* Forms */

  .file-input {
    @apply file:bg-transparent file:text-neutral-900 file:dark:text-white file:shadow-sm file:ring-1 file:ring-neutral-300 file:dark:ring-neutral-750 file:hover:bg-neutral-50 file:dark:hover:bg-neutral-900
    file:mr-4 file:my-1 file:py-0 file:px-3
    file:border-0 
    file:cursor-pointer
    file:rounded-[0.3rem];
  }

  .input-border {
    @apply border-neutral-300 dark:border-neutral-750;
  }

  .input-base {
    @apply bg-card dark:bg-[#27262b]
    hover:bg-neutral-50 dark:hover:bg-neutral-900
    focus:bg-neutral-50 dark:focus:bg-neutral-900
    border-0 
    py-1.5 px-3 
    shadow-sm
    ring-1 ring-inset ring-neutral-300 dark:ring-neutral-750
    placeholder:text-neutral-500 
    text-slate-800 dark:text-neutral-50 
    sm:text-sm sm:leading-6
    disabled:bg-neutral-200 dark:disabled:bg-transparent disabled:cursor-not-allowed;
  }

  .text-input {
    @apply block w-full rounded-md 
    input-base
    focus:ring-2 focus:ring-inset focus:ring-primary dark:focus:ring-primary-500
    file-input;
  }

  .select-input {
    @apply text-input;
  }

  .check-box-input {
    @apply h-4 w-4 rounded-md
    input-base
    checked:bg-primary-500 checked:border-transparent checked:ring-transparent
    checked:focus:bg-primary-500 checked:focus:border-transparent checked:focus:ring-transparent
    dark:checked:hover:bg-primary-500
    text-primary
    focus:ring-offset-0
    group-hover:cursor-pointer
    p-2;
  }

  .radio-button-input {
    @apply check-box-input rounded-full;
  }

  .check-box-label, .radio-button-label {
    @apply ml-2 block text-sm text-neutral-900 dark:text-white group-hover:cursor-pointer;
  }


  /* Devise Page Overwrites */

  body.devise .card {
    @apply shadow-lg;
  }
}
