.relative.z-50.lg:hidden{"aria-modal" => "true", :role => "dialog", "x-show": "sidebarOpen"}
  .fixed.inset-0{
    :class => "bg-body-dark/60",
    "x-show": "sidebarOpen",
    "x-transition:enter": "transition-opacity ease-linear duration-300",
    "x-transition:enter-start": "opacity-0",
    "x-transition:enter-end": "opacity-100",
    "x-transition:leave": "transition-opacity ease-linear duration-300",
    "x-transition:leave-start": "opacity-100",
    "x-transition:leave-end": "opacity-0"
  }
  .fixed.inset-0.flex
    .relative.mr-16.flex.w-full.max-w-xs.flex-1{
      "x-show": "sidebarOpen",
      "@click.away": "sidebarOpen = false",
      "x-transition:enter": "transition ease-in-out duration-300 transform",
      "x-transition:enter-start": "-translate-x-full",
      "x-transition:enter-end": "translate-x-0",
      "x-transition:leave": "transition ease-in-out duration-300 transform",
      "x-transition:leave-start": "translate-x-0",
      "x-transition:leave-end": "-translate-x-full"
    }
      .absolute.left-full.top-0.flex.w-16.justify-center.pt-5{
        "x-show": "sidebarOpen",
        "x-transition:enter": "ease-in-out duration-300",
        "x-transition:enter-start": "opacity-0",
        "x-transition:enter-end": "opacity-100",
        "x-transition:leave": "ease-in-out duration-300",
        "x-transition:leave-start": "opacity-100",
        "x-transition:leave-end": "opacity-0"
      }
        %button{:class => "-m-2.5 p-2.5", :type => "button", "@click": "sidebarOpen = !sidebarOpen"}
          %span.sr-only Close sidebar
          %svg.h-6.w-6.text-white{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
            %path{:d => "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round"}

      .flex.grow.flex-col.gap-y-5.overflow-y-auto.bg-card.dark:bg-card-dark.px-6.pb-4
        = render "layouts/shared/sidebar_menu_items"
