.lg:pl-72
  .sticky.top-0.z-40.flex.h-16.shrink-0.items-center.gap-x-4.border-b.border-gray-200.dark:border-neutral-800.bg-card.dark:bg-card-dark.px-4.sm:gap-x-6.sm:px-6.lg:px-8
    %button.text-gray-700.dark:text-slate-400.lg:hidden{:class => "-m-2.5 p-2.5", :type => "button", "@click": "sidebarOpen = !sidebarOpen"}
      %span.sr-only Open sidebar
      %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
        %path{:d => "M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
    
    / Separator     
    .h-6.w-px.bg-gray-200.dark:bg-gray-700.lg:hidden{"aria-hidden" => "true"}
    .flex.flex-1.gap-x-4.self-stretch.lg:gap-x-6
      %form.relative.flex.flex-1{:action => "#", :method => "GET"}
        %label.sr-only{:for => "search-field"} Search
        %svg.pointer-events-none.absolute.inset-y-0.left-0.h-full.w-5.text-gray-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
          %path{"clip-rule" => "evenodd", :d => "M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z", "fill-rule" => "evenodd"}
        
        %input#search-field.dark:bg-card-dark.block.h-full.w-full.border-0.py-0.pl-8.pr-0.text-gray-900.dark:text-white.placeholder:text-gray-400.focus:ring-0.sm:text-sm{:name => "search", :placeholder => "Search...", :type => "search"}/
      .flex.items-center.gap-x-4.lg:gap-x-6
        %button.text-gray-400.hover:text-gray-500{:class => "-m-2.5 p-2.5", :type => "button"}
          %span.sr-only View notifications
          %svg.h-6.w-6{"aria-hidden" => "true", :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24"}
            %path{:d => "M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
        / Separator
        .hidden.lg:block.lg:h-6.lg:w-px.lg:bg-gray-200.dark:lg:bg-gray-400{"aria-hidden" => "true"}
        
        / Profile dropdown
        .relative{"x-data": "{ dropdownOpen: false }"}
          %button#user-menu-button.flex.items-center{"aria-expanded" => "false", "aria-haspopup" => "true", :class => "-m-1.5 p-1.5", :type => "button", "@click": "dropdownOpen = !dropdownOpen"}
            %span.sr-only Open user menu
            %img.h-8.w-8.rounded-full.bg-gray-50{:alt => "", :src => "https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"}/
            %span.hidden.lg:flex.lg:items-center
              %span.ml-4.text-sm.font-semibold.leading-6.text-gray-900.dark:text-white{"aria-hidden" => "true"} Tom Cook
              %svg.ml-2.h-5.w-5.text-gray-400{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20"}
                %path{"clip-rule" => "evenodd", :d => "M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z", "fill-rule" => "evenodd"}
          /
            Dropdown menu, show/hide based on menu state.
          .absolute.right-0.z-10.w-32.origin-top-right.rounded-md.bg-card.dark:bg-card-dark.py-2.shadow-lg.ring-1.focus:outline-none.text-gray-900.dark:text-white{"aria-labelledby" => "user-menu-button", "aria-orientation" => "vertical", :class => "mt-2.5 ring-gray-900/5", :role => "menu", :tabindex => "-1", "x-show": "dropdownOpen", "@click.away": "dropdownOpen = false", "x-transition:enter": "ease-out duration-100", "x-transition:enter-start": "transform opacity-0 scale-95", "x-transition:enter-end": "transform opacity-100 scale-100", "x-transition:leave": "transition ease-in duration-75", "x-transition:leave-start": "transform opacity-100 scale-100", "x-transition:leave-end": "transform opacity-0 scale-95"}
            -# %a#user-menu-item-0.block.px-3.py-1.text-sm.leading-6.text-gray-900{:href => "#", :role => "menuitem", :tabindex => "-1"} Your profile
            = link_to "Profile", edit_user_registration_path, class: "block px-3 py-1 text-sm leading-6 hover:bg-gray-50 dark:hover:bg-body-dark"
            = link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "block px-3 py-1 text-sm leading-6 hover:bg-gray-50 dark:hover:bg-body-dark"