<p>
  Hello #{@resource.email}!
</p>
<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation">
  <tr>
    <td align="center">
      <%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) , class: 'button' %>
     
    </td>
  </tr>
</table>
<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
