!!!
%html.h-full{lang: "en"}
  %head
    = render 'layouts/components/head'

  %body.h-full.bg-gray-50

    %div{class: "flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8"}
      = image_tag "logo.svg", class: "h-12", alt: APP_NAME

      %div{class: "mt-2 sm:mx-auto sm:w-full sm:max-w-md"}
        = yield

    = render 'layouts/components/footer_scripts'