!!!
%html.h-full{lang: "en", 'data-controller': 'dark-mode'}
  %head
    = render "layouts/components/head"

  %body
    = render LandingPage::TopMenuComponent.new

    = yield
    
    = render "layouts/components/footer_scripts"
